.header {
  position: fixed;
  top: 0;
  background-color: red;
  color: white;
  width: 100vw;
  height: 10vh;
}
.container {
  margin-top: 12vh;
  margin-right: 17vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-around;
  height: 70vh;
  color: white;
}
.container .small-box {
  width: 450px;
  height: 200px;
  background-color: red;
  margin: 10px;
}
.container .main-content {
  height: 400px;
  background-color: red;
  flex-grow: 1;
}
.sidebar {
  position: fixed;
  background-color: red;
  color: white;
  width: 15vw;
  height: 70vh;
  right: 0;
  top: 12vh;
}

.footer {
  position: fixed;
  color: white;
  background-color: red;
  width: 100vw;
  height: 10vh;
  bottom: 0;
}
